.h4 {
    font-size: 20px;
    font-family: Times;
    list-style: none;
    display: block;
}

.flex {
	position: fixed;
	top: 0px;
	width: 50%;
	left: 25%;
    right: 25%;
    text-align: justify;
    background-color: grey;
    opacity: .775;
    z-index: 10;
}

.h1 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

.h2 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: Times;
    text-align: center;
}

.h222{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: Times;
    text-align: center;
    color: red
}

.h22{
    font-size: 20px;
    font-style: italic;
    font-family: Times;
    text-align: center;
    color: white;
}
.h23 {
    color:#FFFF00;
}
.h88 {
    font-size: 20px;
    text-align: justify;
    font-style: italic;
    font-family: Times;
    color: white;
}

.k5 {
    width: auto; 
    height: auto;
    
}

.tabl1{
    position: absolute;
    margin: 15%;
    margin-top: 75px;
    text-align: center;
}

.tabl2{
    position: absolute;
    margin: 15%;
    margin-top: 875px;
    text-align: center;
}

.h7 {
    vertical-align: top;
}

.h8{
    color: rgb(208, 243, 8);
    font-size: 28px;
    text-align: left;
    font-style: italic;
}

.h9 {
    color: rgb(2, 255, 179);
    font-size: 28px;
    text-align: left;
    font-style: italic;
}

.menu {
    display: inline;
}

.h12 {
    list-style: none
}

.sub-menu {
    display: none;    
}

li:hover > .sub-menu {
    display: block;    
}

.sub-menu1 {
    display: none;    
}

li:hover > .sub-menu1 {
    display: block;    
}

.sub-menu2 {
    display: none;    
}

li:hover > .sub-menu2 {
    display: block;    
}